{# Страница создания поста #}

{% extends "index.twig" %}


{% block title %}Новый пост{% endblock %}

{% block content %}
    <h1>{% block h1 %}Новый пост{% endblock %}</h1>
    <p><br></p>

    {% block form %}
        {# Пользователь авторизирован #}
        {% if session.user %}
            <form method="POST" onsubmit="getBody();">
                <div class="form-group">
                    <label for="title">Заголовок поста</label>
                    <input type="text" class="form-control" name="title" value="{{ values.title }}" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="body">Текст поста</label>
                    <div id="summernote">{{ values.body | raw }}</div>
                </div>

                <div class="form_errors">
                    <p>{{ errors.title }}</p>
                    <p>{{ errors.body }}</p>
                    <p>{{ errors.mysql }}</p>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <!-- summernote -->
            <link href="/vendor/summernote/dist/summernote.css" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
            <script src="/vendor/summernote/dist/summernote.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#summernote').summernote({height: 200});
                });

                // Добавлет к форме INPUT содержащий тело поста
                function getBody() {
                    var body = document.createElement('INPUT');
                    body.setAttribute('type', 'hidden');
                    body.setAttribute('name', 'body');
                    body.setAttribute('value', $('#summernote').code());
                    document.querySelector('form').appendChild(body);
                }
            </script>
        {% else %}
            <p>
                Авторизируйтесь или зарегистрируйтесь чтобы иметь возможность добавлять посты.
            </p>
        {% endif %}
    {% endblock %}

{% endblock %}