{% extends "index.twig" %}


{# Макрос для отображения дерева #}
{% macro showTree(items)%}
    {% if items %}
        <ul>
            {% for item in items %}
                <li>
                    <div class="comment">
                        <a name="comment_{{ item.id }}"></a>
                        <b><a href="/user/{{ item.user_id }}">{{ item.username }}</a></b>
                        <p>{{ item.filterXSS('comment') | raw }}</p>
                        <a href="#add_comment" onclick="reply({{ item.id }}, '{{ item.username }}')">Ответить</a>
                        {% if true %}
                            <a href="/comment/{{ item.id }}/delete">Удалить</a>
                        {% endif %}
                        <a class="permalink" href="#comment_{{ item.id }}">(permalink)</a>
                    </div>
                    {% if item and item.childs|length %}
                        {{ _self.showTree(item.childs) }}
                    {% endif %}
                </li>
            {%endfor%}
        </ul>
    {% endif %}
{% endmacro %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>
        {{ post.title }}
        {% if session.user and post.user_id == (session.user|unserialize).id %}
            <a href="/post/{{ post.id }}/edit" style="font-size: 14px;">Редактировать статью</a>
            <a href="/post/{{ post.id }}/delete" style="font-size: 14px;">Удалить статью</a>
        {% endif %}
    </h1>

    <p>{{ post.filterXSS('body') | raw }}</p>

    <p><br></p>
    <p><b>Автор поста: </b><a href="/user/{{ post.user_id }}">{{ user.username }}</a></p>
    <p><br></p>

    <h3>Комментарии ({{ count }})</h3>

    <div class="comments">{{ _self.showTree(comments) }}</div>

    <a name="add_comment"></a>
    <h3>Написать комментарий</h3>

    {% if session.user %}
        <form method="POST" action="/add-comment/{{ post.id }}" onsubmit="getBody()">
            <input type="hidden" name="parent" value="0">
            <p>
                <div id="summernote"></div>
            </p>
            <p>
                <input type="submit">
            </p>
        </form>

        <!-- summernote -->
        <link href="/vendor/summernote/dist/summernote.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <script src="/vendor/summernote/dist/summernote.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#summernote').summernote({height: 150});
            });

            // Добавлет к форме INPUT содержащий тело поста
            function getBody() {
                var body = document.createElement('INPUT');
                body.setAttribute('type', 'hidden');
                body.setAttribute('name', 'comment');
                body.setAttribute('value', $('#summernote').code());
                document.querySelector('form').appendChild(body);
            }

            function reply(id, username) {
                $('#summernote').code('<a href="#">' + username + '</a>, &nbsp;');
                document.querySelector('[name="parent"]').setAttribute('value', id);
            }
        </script>
    {% else %}
        <span style="color: #8b0000">
            Авторизируйтесь чтобы иметь возможность комментировать посты.
        </span>
    {% endif %}

    <p><br></p>
    <p><br></p>
    <p><br></p>
{% endblock %}


