{# ФОРМА РЕГИСТРАЦИИ #}

{% extends "index.twig" %}


{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <p><br></p>

    <form method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" value="{{ values.email }}" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" value="{{ values.password }}" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password_confirm">Confirm Password</label>
            <input type="password" class="form-control" name="password_confirm" value="{{ values.password_confirm }}" placeholder="Confirm Password">
        </div>

        <div style="color: #8b0000; font-weight: bold;" class="form_errors">
            <p>{{ errors.email }}</p>
            <p>{{ errors.password }}</p>
            <p>{{ errors.password_confirm }}</p>
            <p>{{ errors.mysql }}</p>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}